/helpdeskEJB/target/
/helpdeskEE/nbproject/private/
/helpdeskEE/helpdeskEE-war/nbproject/private/
/helpdeskEE/helpdeskEE-ejb/nbproject/private/
/helpdeskEE/build/
/helpdeskEE/dist/
/helpdeskEE/helpdeskEE-ejb/dist/
/helpdeskEE/helpdeskEE-ejb/build/
/helpdeskEE/helpdeskEE-war/build/
/helpdeskEE/helpdeskEE-war/dist/
/helDeskREST/target/
/helpDeskEJB_DAO/target/
/helpdeskREST/target/